@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar {
  top: 0px;
  width: 100%;
  height: 54px;
  background-color: #005F6A;
  overflow: hidden;
  vertical-align: top;  
  position: absolute;

}

.navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a:active {
  background-color: #04AA6D;
  color: white;
}

.navbar button:hover {
  background-color: #ddd;
  color: black;
}
#profile {
  float: right;
  width: 30px;
  height: 30px;
}

#messaging {
  float: right;
  width: 40px;
  height: 30px;
}

#shoppingCart {
  float: right;
  width:40px;
  height:30px;
}

#sell {
  float: right;
  width: 40px;
  height: 30px;
}

.searchBar {
  padding-left: 30%;
  position: center;
  position: absolute;
  padding-top: 13px;
}

.searchBar input {
  height: 30px;
  vertical-align:top;
  width: 600px;
}

#submitButton {
  width: 30px;
  height: 30px;
  top: 20px;

}

.body {
  vertical-align: bottom;
  color: #ddd;
  bottom: 0px;
}

.body * {
  margin-top: 27px;
}

.body input {
  color: black;
}

#teamName { 
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  vertical-align: bottom;
  width: 10%;
  padding-top: 13px;
  position: absolute;
  padding-left: 6px;
}

.listOfUserPosts {
  vertical-align: bottom;
}

.createPostButtonContainer {
  vertical-align: bottom;
  margin-top: 84px;
  margin-right: 20px;
  float: right;
  background-color: red;
  border-radius: 8px;
  width: 100px;
  text-align: center;
  position: relative;
}

.verticalLine {
  border-left: 3px solid #bbb;
  border-radius: 1px;
  width: 10px;
  height: 50px;
  margin-top: 64px;
  margin-right: 50px;
  float: right;
  position: relative;
}

.userSignupForm {
  border-radius: 8px;
  background-color: lightgray;
  vertical-align: middle;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 70px;
}

.userSignupForm input {
  margin: auto;
  margin-left: 150px;
  color: black;
}

.userSignupForm button {
  margin-left: 150px;
  background-color: #005F6A;
  border-radius: 8px;
  width: 186px;
}

.userSignupForm h1 {
  color: black;
  font-size: 40px;
  text-align: center;
}

#login input {
  color: black;
}

.messageForm {
  border-radius: 8px;
  background-color: lightgray;
  vertical-align: middle;
  width: 1000px;
  height: 1000px;
  margin: auto;
  margin-top: 70px;
}

#messageField {
  margin: auto;
  margin-left: 150px;
  color: black;
}

#messageSubmit {
  margin-left: 150px;
  background-color: #005F6A;
  border-radius: 8px;
  width: 186px;
}