<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}"></head>

<body>


<th:block th:unless="${id.length()}"><div th:replace="~{fragments :: page-header}"></div></th:block>
<th:block th:if="${id.length()}"><div th:replace="~{fragments :: page-header-logged-in}"></div></th:block>

<div>
    <form th:action="@{/search}" method = "post">


        <h2>Search:</h2>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search"/>
    </form>

</div>




</body>
</html>