<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body>
    <div th:replace="~{fragments :: page-header}"></div>

    <form th:action="@{/list}" method = "post">
        <label> Sort by:
            <select name="sortBy" onchange="this.form.submit()">
                <option value="">*Select One*</option>
                <option value="high to low">Price (High-Low)</option>
                <option value="low to high">Price (Low-High)</option>
            </select>

        </label>

    </form>

    <table style="width:100%" border="1px solid black">


        <tr>
            <th>Picture</th>
            <th >Name</th>
            <th width="35%">Description</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
        </tr>

        <tr th:each="product : ${products}">

                <th> <img th:src="${product.picture}" style="width:200px;height:200px;"> </th>
                <th th:text = "${product.name}"></th>
                <th th:text = "${product.description}"></th>
                <th th:text = "${product.category}"></th>
                <th th:text = "'$' + ${product.price}"></th>
                <th>
                    <form method="post" th:action="@{/addToShoppingCart}">
                            <p style="visibility: hidden">
                                <input type="text" th:value="${product.id}" name="shoppingCartId" id="shoppingCartId" />
                            </p>
                        <button type="submit" >Buy</button>
                    </form>
                </th>

        </tr>


    </table>

</body>
</html>